<!-- .container is main centered wrapper -->
<div class="container">

    <section class="header">
        <h2 class="title">Hi I'm Michael Oswald.</h2>
        <div class="value-props row">

            <div class="value-prop row">
                I love clean readable code. Projects blog and skills below.
            </div>
            <br>
            <a class="button" href="#">Anchor button</a>
            <button>Button element</button>
            <input type="submit" value="submit input">
            <input type="button" value="button input">

            <!-- Primary buttons -->
            <a class="button button-primary" href="#">Anchor button</a>
            <button class="button-primary">Button element</button>


        </div>
    </section>
</div>